@model Project2.Models.LocalPasswordModel

<h3>Wachtwoord veranderen</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Verander uw wachtwoord</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword, "Oud wachtwoord")
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword, "Nieuw wachtwoord")
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword, "Bevestig nieuw wachtwoord")
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Verander wachtwoord" />
    </fieldset>
}
