@model IEnumerable<Project2.Models.Domain.Voorstel>

@{
    ViewBag.Title = "Index";
}

<h2>Alle voorstellen</h2>

@Html.ActionLink("Toon alle voorstellen waar advies gevraagd werd", "Advies")

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            Student
        </th>
        <th>
            Promotor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnderzoeksDomein1)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    @{
   int i=0;
   }
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @ViewBag.studenten[i].VolledigeNaam
        </td>
        <td>
            @ViewBag.studenten[i].Promotor.VolledigeNaam
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnderzoeksDomein1.Naam)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
    i++;
}

</table>
